{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover()
    $("#calendar").fullCalendar({
      schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
      allDaySlot: false,
      nowIndicator: true,
      firstDay: 1,
      defaultView: 'agendaWeek', // TODO: Create view for project
                                // TODO: Create business hours options for projects
      themeSystem: 'bootstrap3',
      header: {
        left: 'prev, next, today',
        center: 'title',
        right: 'agendaWeek, agendaDay, list'
      },

      editable: true,
      eventLimit: true,
      selectable: true,
      selectHelper: true,

      dayClick: function(){
        $("#newFeatureModal").modal("show");
      },

      select: function(start, end) {
        $("#newFeatureModal").modal("show");
        $("#feature_start_date").val(moment(start).format("MM/DD/YYYY"));
        $("#feature_deadline").val(moment(end).format("MM/DD/YYYY"));
        $('#feature_start_time').val(moment(start).format("HH:mm"));
        $('#feature_deadline_time').val(moment(end).format("HH:mm"));
      },

      events: [
        {
          title: '{{feature.title}}',
          start: '{{feature.start_date|date:"Y-m-d"}}{{feature.start_date|time}}',
          end: '{{feature.deadline|date:"Y-m-d"}}{{feature.start_date|time}}',
          assignment: "{{feature.assigned_to.first_name}} {{feature.assigned_to.last_name}}"
        },

          {% for task in tasks %}
          {% load tz %}
          {
            title: '{{task.title}}',
            start: '{{task.start_date_time|date:"c"}}',
            end: "{{task.end_date_time|date:'c'}}",
            url: "{% url 'projects:task_view' pk=task.pk %}",
            complete: "{{task.complete}}",
            in_progress: "{{task.in_work}}",
            start_time: "{{task.clock_in|date:'c'}}",
            end_time: "{{task.clock_out|date:'c'}}",
            assignment: "{{task.assigned_to.first_name}}",
            comment_count: "{{task.get_comment_count}}",
            color: "{{task.color}}",
            resourceId: {{task.assigned_to.id}}
          },
          {% endfor %}

      ],

      resources: [
        // resources go here
        {% for employee in employees %}
          {id:{{employee.id}}, title: "{{employee.first_name}} {{employee.last_name}}"},
        {% endfor %}
    ],

      eventRender: function(event, element) {
        $(element).find('.fc-title').append(" : " + event.assignment);

      },

      eventMouseover: function(event) {
        // parse time using 24-hour clock and use UTC to prevent DST issues
        var start = moment.utc(event.start, "HH:mm");
        var end = moment.utc(event.end, "HH:mm");

        // account for crossing over to midnight the next day
        if (end.isBefore(start)) end.add(1, 'day');

        // calculate the duration
        var d = moment.duration(end.diff(start));

        // format a string result
        var hour = moment.utc(+d).format('H');
        var minute = moment.utc(+d).format('mm')

        var status;
        if (event.complete == "True") {
          status = "Complete";
        }

        if (event.in_progress == "True"){
          status = 'In Progress';
        }

        if (event.in_progress == "False" && event.complete == "False") {
          status = 'Not Started';
        }

        // TODO: Fix timzone issue. JS is giving Current but Py is off by 6 hrs
        var currentMinutes = parseInt(moment().format('mm'));
        var currentHours = parseInt(moment().format('hh'));
        var startMinutes = moment(event.start_time).format('mm');
        var startHours = moment(event.start_time).format('hh');
        var totalMinutes;
        var totalHours;

        console.log(currentMinutes);
        console.log(startMinutes);
        console.log(currentHours);
        console.log(startHours);
        if (currentMinutes >= startMinutes) {
          totalMinutes = currentMinutes - startMinutes;

        } else {
          totalMinutes = startMinutes - currentMinutes;

        }
        if (currentHours >= startHours) {
          totalHours = currentHours - startHours;

        } else {
          totalHours = startHours - currentHours;

        }

        if (isNaN(totalMinutes)) {
          totalMinutes = "00";
        }
        else if (totalMinutes < 10) {
          totalMinutes = "0" + totalMinutes;
        }

        if(isNaN(totalHours)){
          totalHours = "00"
        }
        else if (totalHours < 10) {
          totalHours = "0" + totalHours;
        }

        console.log(totalHours + "hrs " + totalMinutes + "mins");



        var tooltip = '<div class="tooltipevent">' + 'Estimated completion:<br>' +
                      hour + ' hours & ' + minute + ' mins<hr>' +
                      '<p> Time Worked: ' + totalHours + 'hrs ' + totalMinutes + 'mins </p>'+ '<hr> <p>Status: ' + status + '</p>'+
                      event.comment_count + " notes " + '</div>';

        var $tooltip = $(tooltip).appendTo('body');
        var tooltipsOn = $('#tooltipsOn').prop('checked')
        if(tooltipsOn){
          $(this).mouseover(function(e) {
              $(this).css('z-index', 10000);
              $tooltip.fadeIn('1000');
              $tooltip.fadeTo('10', 1.9);
          }).mousemove(function(e) {
              $tooltip.css('top', e.pageY + 5);
              $tooltip.css('left', e.pageX + 10);
          });
        }

      },

      eventMouseout(event) {
        // TODO: Create event to close tooltip when mouse out occurrs
        $(this).css('z-index', 8);
        $('.tooltipevent').remove();
      },


      eventDrop: function(event) {
        $.ajax({
          url: event.url + "/edit",
          type: 'get',
          dataType: 'json',
          // beforeSend: function() {
          //   $("#modal-edit-task").modal("show");
          // },
          success: function(data){
            console.log(data.working);
            $("#modal-edit-task .modal-content").html(data.html_form);
            $("#modal-edit-task .modal-content #feature_start_date").val(moment(event.start).format("MM/DD/YYYY"));
            $("#modal-edit-task .modal-content #feature_deadline").val(moment(event.end).format("MM/DD/YYYY"));
            $('#modal-edit-task .modal-content #feature_start_time').val(moment(event.start).format("HH:mm"));
            $('#modal-edit-task .modal-content #feature_deadline_time').val(moment(event.end).format("HH:mm"));
            $("#task-update-form").submit()
          }
        })
      },

      eventResize: function(event) {
        $.ajax({
          url: event.url + "/edit",
          type: 'get',
          dataType: 'json',
          success: function(data){
            $("#modal-edit-task .modal-content").html(data.html_form);
            $("#modal-edit-task .modal-content #feature_start_date").val(moment(event.start).format("MM/DD/YYYY"));
            $("#modal-edit-task .modal-content #feature_deadline").val(moment(event.end).format("MM/DD/YYYY"));
            $('#modal-edit-task .modal-content #feature_start_time').val(moment(event.start).format("HH:mm"));
            $('#modal-edit-task .modal-content #feature_deadline_time').val(moment(event.end).format("HH:mm"));
            $("#task-update-form").submit();
          }
        })
      },


    });

    var saveForm = function () {
      var form = $(this);
      $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
          console.log(data.form_is_valid);
          if (data.form_is_valid) {
            $("#modal-edit-task").modal("hide");
          }
          else {
            $("#modal-edit-task .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    };

    // update dates submit binding
     $("#modal-edit-task").on("submit", ".task-update-form", saveForm);


  });



</script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="container breadcrumb-container">
    <ol class="breadcrumb breadcrumb-arrow">
      <li><a onclick="loadProjectsTab()" href="{% url 'accounts:admin_home' pk=request.user.pk %}">All Projects</a></li>
      <li><a href="{% url 'projects:project_view' pk=feature.project.pk %}">{{feature.project.title}}</a></li>
      <li class="active">{{feature.title}}</li>
    </ol>
  </div>

  <div class="container-fluid">
    <button type="button" class="btn btn-primary comment-btn" data-toggle="modal" data-target="#newFeatureModal">
      Add New Feature Task
    </button>
    <button type="button" class="btn btn-primary comment-btn" data-toggle="modal" data-target="#featureComment">
      Add Feature Note
    </button>
    <hr>
    <h1>{{feature.title}}</h1>
    <h1>{{feature.color}}</h1>
    <small>Feature Owner: {{feature.owner}}</small>
    <h5>{{feature.assigned_to}}</h5>
    <h5>Complete? {{feature.complete}}</h5>


    {% if feature.owner == request.user %}
      <a class="btn btn-xs btn-danger" href="{% url 'projects:delete_feature' pk=feature.pk %}">Delete</a>
    {% endif %}
    {% if request.user == feature.owner or request.user == feature.assigned_to %}
      {% if not feature.complete %}
        <a href="{% url 'projects:marked_complete' pk=feature.pk %}">Mark as Complete</a>
      {% elif feature.complete %}
        <a href="{% url 'projects:marked_incomplete' pk=feature.pk %}">Keep Working</a>
      {% endif %}
    {% endif %}
  </div><hr>


  <div class="container calendar-container">
    <div class="form-check">
      <input type="checkbox" id="tooltipsOn" name="tooltips" value="">
      <label class="form-check-label" for="tooltipsOn">Turn On Tooltips</label>
      <a  data-container="body" data-toggle="popover" data-placement="right"
          data-content="By activating tooltips, you can get quick insights on
                        your task progress by simply hovering over the task.
                        Give it a try!"
          title="Instant Insights" >
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>

    </div>
    <div id="calendar">

    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      {% for note in notes %}
      <div class="col-md-12">
        <div class="jumbotron">
          <p>{{note.details}}</p>
          <small>By: {{note.author.first_name}} {{note.author.last_name}}</small><br>
          <small>Created: {{note.created_date}}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>




  <div class="modal fade" id="newFeatureModal" tabindex="-1" role="dialog" aria-labelledby="newFeatureModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="newFeatureModalLabel">Add New Task To: "{{feature.title}}"</h4>
        </div>
        <div class="modal-body">
          <form class="" name="new_task_form" action="{% url 'projects:add_task' pk=feature.pk %}" method="post">
            {% csrf_token %}
            <input type="text" name="title" class="form-control login-field" value="{{title}}" placeholder="Task Title"><br>
            <textarea name="details" class="form-control" rows="8" cols="80" placeholder="Enter the Details of this Task"></textarea><br>

            <div class="row">
              <div class="col-md-6">
                <label for="">Start Date</label>
                <input id="feature_start_date" type="text" name="start_date" class="form-control login-field" value="{{start_date}}" placeholder="Start Date"><br>
              </div>
              <div class="col-md-6">
                <label for="">Start Time</label>
                <input id="feature_start_time" type="text"  class="form-control login-field" name="start_time" value="{{start_time|time}}"><br>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="">Deadline Date</label>
                <input id="feature_deadline" type="text" name="deadline" class="form-control login-field" value="{{deadline}}" placeholder="Deadline Date"><br>
              </div>
              <div class="col-md-6">
                <label for="">Deadline Time</label>
                <input id="feature_deadline_time" type="text" class="form-control login-field" name="end_time" value="{{end_time|time}}">
              </div>
            </div>


          <hr>
            <select class="form-control" name="assigned_to">
              <option value="{{feature.project.owner.id}}">{{feature.project.owner}} (Project Owner)</option>
              {% for employee in employees %}
              <!-- Set the value to employee.id so the HTTP POST Request knows
                   which Employee object to assign to the value -->
                <option value="{{employee.id}}">{{employee}}</option>
              {% endfor %}
            </select>
            <label for="">Calendar Tag Color</label>
            <select class="form-control login-field" name="color">
              <option value="#D72638">Red</option>
              <option value="#228CDB">Blue</option>
              <option value="#7D82B8">Purple</option>
              <option value="#3C887E">Green</option>
              <option value="#5BC0BE">Teal</option>
            </select>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Add Task</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal-edit-task">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>


<div id="featureComment" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Feature Note</h4>
      </div>
      <div class="modal-body">
        <form class="" action="{% url 'projects:new_feature_comment' pk=feature.pk %}" method="post">
          {% csrf_token %}
          <textarea class="form-control" name="details" rows="8" cols="80" placeholder="New Feature Note Details"></textarea>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Note</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}
