{% extends 'base.html' %}

{% load static %}
{% block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#calendar").fullCalendar({
      // defaultView: 'agendaWeek', // TODO: Create view for project
                                // TODO: Create business hours options for projects
      themeSystem: 'bootstrap3',
      themeName: 'Darkly',
      header: {
        left: 'prev, next, today',
        center: 'title',
        right: 'month, agendaWeek, agendaDay, list'
      },

      editable: true,
      eventLimit: true,
      selectable: true,
      selectHelper: true,

      dayClick: function(){
        $("#newFeatureModal").modal("show");
      },

      eventOrder: ["complete", "start", "end"],

      events: [
        {
          title : "{{project.title}}",
          start : "{{project.start_date|date:"Y-m-d"}}",
          end : "{{project.deadline|date:"Y-m-d"}}",
          description: ""
        },
          {% for feature in features %}
        {
            title: "'{{feature.title}}'",
            start: "{{feature.start_date|date:"Y-m-d"}}",
            end: "{{feature.deadline|date:"Y-m-d"}}",
            deadline: "{{feature.details}}",
            url: "{% url 'projects:feature_view' pk=feature.pk %}",
            complete: "{{feature.complete}}",
            color: "{{feature.color}}",

        },
          {% endfor %}
      ],

      eventRender: function(event, element) {
        var bool_val = "True"
        if (event.complete == bool_val) {
          // $(element).find('.fc-title').css("text-decoration", "line-through");
          $(element).find('.fc-title').append(" : Complete <small></small>");
          $(element).find('.fc-title').prepend(" ");
          $(element).find('small').addClass(" glyphicon glyphicon-check fc-font");
        } else if (event.complete == "False") {
          $(element).find('.fc-title').append(" : Pending <small></small>");
          $(element).find('.fc-title').prepend(" ");
          $(element).find('small').addClass(" glyphicon glyphicon-time");
        }
      },

      eventDrop: function(event) {
        $.ajax({
          url: event.url + "/edit",
          type: 'get',
          dataType: 'json',
          // beforeSend: function() {
          //   $("#modal-edit-feature").modal("show");
          // },
          success: function(data){
            $("#modal-edit-feature .modal-content").html(data.html_form);
            $("#modal-edit-feature .modal-content #feature_start_date").val(moment(event.start).format("MM/DD/YYYY"));
            $("#modal-edit-feature .modal-content #feature_deadline").val(moment(event.end).format("MM/DD/YYYY"));
            $("#feature-update-form").submit();
          }
        })
      },

      eventResize: function(event) {
        $.ajax({
          url: event.url + "/edit",
          type: 'get',
          dataType: 'json',
          success: function(data){
            $("#modal-edit-feature .modal-content").html(data.html_form);
            $("#modal-edit-feature .modal-content #feature_start_date").val(moment(event.start).format("MM/DD/YYYY"));
            $("#modal-edit-feature .modal-content #feature_deadline").val(moment(event.end).format("MM/DD/YYYY"));
            $("#feature-update-form").submit();
          }
        })
      },

      select: function(start, end) {
        $("#newFeatureModal").modal("show");
        $("#feature_start_date").val(moment(start).format("MM/DD/YYYY"));
        $("#feature_deadline").val(moment(end).format("MM/DD/YYYY"));
      }
        // put options and callbacks here
    });

    var saveForm = function () {
      var form = $(this);
      $.ajax({
        url: form.attr("action"),
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function (data) {
          if (data.form_is_valid) {
            $("#modal-edit-feature").modal("hide");
          }
          else {
            $("#modal-edit-feature .modal-content").html(data.html_form);
          }
        }
      });
      return false;
    };

    // update dates submit binding
     $("#modal-edit-feature").on("submit", ".feature-update-form", saveForm);

  });



</script>
{% endblock %}
{% block body %}
<!-- <div class="container"> -->
<div class="container">
  <div class="container breadcrumb-container">
    <ol class="breadcrumb breadcrumb-arrow">
      <li><a href="{% url 'accounts:admin_home' pk=request.user.pk %}">Dashboard</a></li>
      <li class="active">{{project.title}}</li>
    </ol>
  </div>
  {% if project.is_past_due and not project.complete %}
    <div class="alert alert-danger">
      <h2>{{project.title}} is past the deadline!!</h2>
    </div>

  {% elif project.complete %}
  <div class="alert alert-success">
    <h2>{{project.title}} is 100% complete!</h2>
  </div>
  {% endif %}
  <div class="container-fluid">
    <button type="button" class="btn btn-primary comment-btn" data-toggle="modal" data-target="#newFeatureModal">
      Add New Feature
    </button>
    <a class="btn btn-danger" href="{% url 'projects:delete_project' pk=project.pk %}">Delete Project</a>
    <h1>{{project.title}}</h1>
    <h4>Project Owner: {{project.owner.first_name}} {{project.owner.last_name}}</h4>
    <h3>Start Date: {{project.start_date|date}} | Deadline: {{project.deadline|date}}</h3>
    <h4>Total Days: {{project.get_total_days}} | Due in:  {{project.deadline|timeuntil}} </h4>
    <hr>
  </div>
</div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% if features.count < 1 %}
        <h1 align='center'>No Features Added Yet</h1>
      {% endif %}
      <label for="">'{{project.title}}' Road To Completion</label>
      {% if project.calculate_completion_percent >= 10 %}
        <div class="progress">
          <div class="progress-bar " role="progressbar" aria-valuenow="{{percentage|floatformat:2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.calculate_completion_percent}}%;">
            <span class="percentage-label"><strong>{{project.calculate_completion_percent|floatformat:0}} %</strong> Complete</span>
          </div>
        </div>
      {% else %}
        <div class="progress" align='center'>
          <strong>{{project.calculate_completion_percent|floatformat:0}} %</strong> Complete
          <div class="progress-bar " role="progressbar" aria-valuenow="{{project.calculate_completion_percent|floatformat:2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.calculate_completion_percent}}%;">

          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="container calendar-container">
    <div id="calendar">

    </div>
  </div>




  <div class="modal fade" id="newFeatureModal" tabindex="-1" role="dialog" aria-labelledby="newFeatureModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="newFeatureModalLabel">Create New Feature Item</h4>
        </div>
        <div class="modal-body">
          <form role="form" action="{% url 'projects:add_feature' pk=project.pk %}" method="post">
            {% csrf_token %}

            <input type="text" name="title" value="{{title}}" class="form-control login-field" placeholder="Feature Title"><br>

            <textarea name="details" value="{{details}}" class="form-control login-field" rows="8" cols="80" placeholder="Enter the Feature Details"></textarea><br>

            <label for="">Start Date</label>
            <input id="feature_start_date" type="text" name="start_date" class="form-control login-field" value="{{start_date}}" placeholder="Start Date"><br>

            <label for="">Deadline Date</label>

            <input id="feature_deadline" type="text" name="deadline" class="form-control login-field" value="{{deadline}}" placeholder="Deadline Date"><br>
            <hr>

            <label for="">Feauture Lead:</label>
            <select class="form-control login-field" name="assigned_to">
              <option value="{{user.id}}">{{project.owner.first_name}} {{project.owner.last_name}} (Project Owner)</option>
              {% for employee in employees %}
                <option value="{{employee.id}}">{{employee.first_name.capitalize}} {{employee.last_name.capitalize}}</option>
              {% endfor %}
            </select><br>

            <label for="">Calendar Tag Color</label>
            <select class="form-control login-field" name="color">
              <option value="#D72638">Red</option>
              <option value="#228CDB">Blue</option>
              <option value="#7D82B8">Purple</option>
              <option value="#3C887E">Green</option>
              <option value="#5BC0BE">Teal</option>
            </select>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <div class="modal fade" id="modal-edit-feature">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

{% endblock %}
