{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div class="container breadcrumb-container">
    <ol class="breadcrumb breadcrumb-arrow">
      <li><a onclick="loadProjectsTab()" href="{% url 'accounts:admin_home' pk=request.user.pk %}">All Projects</a></li>
      <li><a href="{% url 'projects:project_view' pk=task.project.pk %}">{{task.project.title}}</a></li>
      <li><a href="{% url 'projects:feature_view' pk=task.feature.pk %}">{{task.feature.title}}</a></li>
      <li class="active">{{task.title}}</li>
    </ol>
  </div>


  <div class="container">
    <h1>{{task.title}}</h1>
    <h3>{{task.details}}</h3>
    <h3>{{task.start_date}}</h3>
    <h3>{{task.start_time}}</h3>
    <h3>{{task.end_time}}</h3>
    <h3>{{task.start_date_time}} -> {{task.end_date_time}}</h3>
    <small>Project Owner = {{task.project.owner}}</small><br>
    <small>{{task.assigned_to}}</small>
    {% if request.user == task.project.owner %}
      <a class="btn btn-xs btn-danger" href="{% url 'projects:delete_task' pk=task.pk %}">Delete</a>
    {% endif %}
    {% if request.user == feature.owner or request.user == task.assigned_to %}
      {% if not task.complete %}
        <a href="{% url 'projects:task_marked_complete' pk=task.pk %}">Mark as Complete</a>
      {% elif task.complete %}
        <a href="{% url 'projects:task_marked_incomplete' pk=task.pk %}">Keep Working</a>
      {% endif %}
    {% endif %}

    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#commentModal">
      Add Note
    </button>
    <button type="button" onclick="clock_in_start()" class="btn btn-warning btn-xs" name="button">Clock In</button>
    <button type="button" onclick="clock_out_start()" class="btn btn-warning btn-xs" name="button">Clock Out</button>
  </div>

  <div class="jumbotron">
    {% if task.complete %}
      <h1>Completed!</h1>
    {% elif not task.complete %}
      <h1>Still In Progress</h1>
    {% endif %}
  </div>

<div class="container">
  <div class="container">
    <div class="row">
      {% for note in notes %}
      <div class="col-md-12">
        <div class="jumbotron">
          <p>{{note.details}}</p>
          <small>By: {{note.author.first_name}} {{note.author.last_name}}</small><br>
          <small>Created: {{note.created_date}}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



  <div id="commentModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Task Note</h4>
        </div>
        <div class="modal-body">
          <form class="" action="{% url 'projects:new_task_comment' pk=task.pk %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" name="details" rows="8" cols="80" placeholder="New Task Note"></textarea>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>


{% endblock %}
