{% extends 'base.html' %}

{% block body %}

  <div class="sidebar-container">
    <div class="container-fluid">
      <br>
    </div>
    <ul class="nav navbar-nav nav-tabs sidebar-nav">
      <li id="overview-tab" class="overview active">
        <a data-toggle="tab"  href="#overview">
          <div class="row">
            <div class="col-sm-12" align=center>
              <img class='menu-icons' src="/static/images/dashboard.png" alt="guage">
            </div>
          </div>
        </a>
      </li>
      <li id="employee-tab"  class="employee-details">
        <a data-toggle="tab"  href="#employee-details">
          <div class="row">
            <div class="col-sm-12" align=center>
                <img class='menu-icons' src="/static/images/users.png" alt="guage">
            </div>
          </div>
        </a>
      </li>
      <li id="projects-tab"  class="projects">
        <a data-toggle="tab"  href="#projects">
          <div class="row">
            <div class="col-sm-12" align=center>
              <img class='menu-icons' src="/static/images/plane.png" alt="guage">
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">

    <div id="overview" class="tab-pane fade in active main-body">
      <div class="jumbotron custom-jumbotron">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <h2>Overview</h2>
          </div>
          <div class="col-md-5">
            <h2 id='time' class=" pull-right"></h2>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        
      </div>
    </div>

    <div id="employee-details" class="tab-pane fade in main-body">
      <div class="jumbotron custom-jumbotron">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <h2>Employee Details</h2>
          </div>
        </div>
        <hr>
      </div>
      <div class="container-fluid">
        {% for employee in employees %}
          <h3>{{employee.first_name}} {{employee.last_name}}</h3>
          <h3>admin permissions? <small>{{employee.admin}}</small> </h3>
          <hr>
        {% endfor %}
      </div>
    </div>

    <div id="projects" class="tab-pane fade in main-body">
      <div class="jumbotron custom-jumbotron">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <h2>Projects</h2>
          </div>
          <div class="col-md-5">
            <h1><a class="btn btn-primary pull-right" href="{% url 'projects:new_project' %}">Add New Project</a></h1>
          </div>
        </div>
        <hr>
      </div>


      <div class="container-fluid">
        <div class="row">
        {% for project in projects %}
          <div class="col-md-4 col-sm-6 thmbnail">
            <a href="{% url 'projects:project_view' pk=project.pk %}">
              <div id="color-set" class="project-container caption">
                <h5>{{project.title}}</h5>
              </div>
            </a>
          </div>
        {% endfor %}
        </div>
        <script type="text/javascript">
          // assignColor();
        </script>
      </div>
    </div>

  </div>

{% endblock %}
