<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
      <!-- Latest compiled and minified CSS -->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
      <link rel='stylesheet' href="{% static 'css/fullcalendar.css' %}"/>
      <script src="{% static 'js/lib/jquery.min.js' %}"></script>
      <script src="{% static 'js/lib/moment.min.js' %}"></script>
      <script src="{% static 'js/fullcalendar.js' %}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Abel|Josefin+Slab|Poiret+One|Gochi+Hand" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
      {% block head %}

      {% endblock %}

  </head>

  <body onload="startTime()">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if request.user.admin %}
        <a class="navbar-brand" href="#">{{user.company_name.capitalize}}</a>
      {% elif request.user.boss.admin %}
        <a class="navbar-brand" href="#">{{user.boss.company_name.capitalize}}</a>
      {% else %}
        <a class="navbar-brand" href="{% url 'index' %}">Project Road Map Tool</a>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated  %}
          <li><a href="{% url 'accounts:admin_home' pk=user.pk %}"><span class="glyphicon glyphicon-user"></span> {{user.first_name}} {{user.last_name}}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'accounts:add_employee' %}">Add New Employee</a></li>
              <li><a href="#">Export Time Sheets</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
          <li><a href="{% url 'accounts:logout' %}">Logout</a> </li>
        {% else %}
          <li><a href="{% url 'accounts:login' %}">Login</a> </li>
          <li><a href="{% url 'accounts:register' %}">Sign Up</a> </li>
        {% endif %}
        <li><div id="">
        </div> </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <div class="main">
      {% block body %}

      {% endblock %}
    </div>


  </body>
</html>
